/* app css stylesheet */

body {
  padding-top: 20px;
 }

h1{
	text-align: center;
}

#board {
    text-align: center;
    font-size: 20px;
	cursor:pointer;
}

#board td{
    background: rgb(107, 197, 79);
	width: 30px;
	height: 30px;
    text-align: center;
}

#board td.center{
    background-color: rgb(238, 17, 17);
    color:#ffffff;
}

#sidebar{
    /*border-right: 1px solid black;*/
    background-color: #dcdcdc;
    border-radius: 6px 6px 6px 6px;
    margin:0;
    padding: 15px;
}

#listaTests{
    list-style: decimal;

    height: 200px;
    overflow: auto;
}

.zone{
    border: 1px solid gray;
    /*background-color: #dcdcdc;*/
    border-radius: 6px 6px 6px 6px;
    margin:0;
	margin-top:20px;
    padding: 15px;
    text-align: center;
}

#test{
	cursor:pointer;
	padding-top: 8px;
}

.zero{
	color:hsl(240, 45%, 90%);
}
.uno{
	color:hsl(240, 45%, 0%);
}
.dos{
	color:hsl(240, 45%, 80%);
}
.tres{
	color:hsl(240, 45%, 100%);
}

.btn{
	margin: 10px;
}

.tablero{
	padding-top: 20px;
}

.testTerminado{
	color: blue;
}

.testNoTerminado{
	color:red;
}

.testBorrado{
    color:grey;
}

.lista_estadisticas li{
    margin-top: 20px;
}

.conBorde{
    border: 1px solid white;
}

.msgError{
    color:red;
    font-size: 20px;
}

#login_table td {
    text-align: right;
    padding: 10px;
}