<div ng-include src="'partials/tests.html'" class="span3"></div>

<div class="span9">
    <div class="container-fluid">
        <div ng-show="isError">
            <p>No se han encontrado datos para este test </p>
            <a href="#" ng-click="volver()">Volver</a>
        </div>

        <div ng-hide="isError">

            <!-- Test name -->
            Nombre <input type="text" ng-model="data[numTest].name" ng-disabled="!noTerminado(numTest)">
            Fecha <input type="text" ng-model="data[numTest].date" ng-disabled="!noTerminado(numTest)">

            <!-- Statistics Container -->

            <div class="zone">

                <h3> Estadísticas </h3>

                <ul class="lista_estadisticas">
                    <li><p><img src='./img/flag21x21.png'> <font size='5px'>{{data[numTest].statistics.goals}}</font>
                    </p></li>
                    <li><p> < 1 unidades: <font size='3px'>{{data[numTest].statistics.less1metter}}</font></p></li>


                    <li><p> Entre 1 y 5 unidades: <font
                            size='3px'>{{data[numTest].statistics.between1and5metters}}</font></p>
                    </li>
                    <li><p> > 5 unidades: <font size='3px'>{{data[numTest].statistics.more5metters}}</font></p></li>
                </ul>
            </div>

            <!--<a ng-click="verCampo()">
                <button class="btn btn-primary btn-large" ng-show="!campoVisible()">
                    <i class="icon-eye-open icon-white"></i>
                    Ver Campo
                </button>
                <button class="btn btn-primary btn-large " ng-show="campoVisible()">
                    <i class="icon-eye-close icon-white"></i>
                    Ocultar Campo
                </button>
            </a>-->

            <a ng-click="terminarTestActual()">
                <button class="btn btn-primary btn-large" ng-disabled="!noTerminado(numTest)">
                    <i class="icon-ok icon-white"></i>
                    Terminar el Test
                </button>
            </a>

            <a ng-click="guardarCambios()">
                <button class="btn btn-primary btn-large" ng-disabled="!hayCambios(numTest)">
                    <i class="icon-briefcase icon-white"></i>
                    Guardar Cambios
                </button>
            </a>

            <a ng-click="borrar()">
                <button class="btn btn-primary btn-large">
                    <i class="icon-trash icon-white"></i>
                    Eliminar Test
                </button>
            </a>

            <!-- Board Container -->
            <div class="tablero">
                <table id="board">
                    <tr ng-repeat="(index1, row) in data[numTest].data">
                        <td ng-repeat="(index2,elem) in row" ng-click="boardClick(index1,index2)"
                            ng-class="{center:isCenter(index1,index2),
                    zero:isZero(index1,index2),
                    uno:elem==1,
                    conBorde:aDistancia5(index1,index2)
                    }">
                            {{elem}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


