!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Golf App
    style.
        #login form{ margin-top:100px; padding:50px;border:2px solid lightgray;}
    link(rel='stylesheet', href='css/bootstrap.css')
    body#login
        - var hola="Hola "+name

        .row-fluid
            .span4
            .zone.span4
                form(action='/login',method='post')
                    h3(style="color:red") #{error_msg}
                    table#login_table
                        tr
                            td Nombre de Usuario
                            td: input(type='text',name='username')
                        tr
                            td Contraseña
                            td: input(name='password',type='password',value='',placeholder='')
                    input.pull-right(type='submit',value='Entrar',data-transition='fade', class="btn-large")
                       | Entrar
                       i.icon-chevron-right.icon-white
            .span4