<div class="row-fluid">
    <div ng-include src="'partials/tests.html'"  ng-class="{span3: !pantallaCompleta, ocultar:pantallaCompleta}"></div>

    <div class="span9">

        <div ng-show="isError">
            <p>No se han encontrado datos para este test </p>
            <a href="#" ng-click="volver()">Volver</a>
        </div>

        <div ng-hide="isError">
            <div ng-class="{zona: true, ocultar: pantallaCompleta}">
                <h3 id="nombreTest">{{ data[numTest].name }} ({{ data[numTest].palo.nombre }} {{ data[numTest].entrenamiento }} {{
                    data[numTest].date }})</h3>
                <table class="tablaEstadisticas">
                    <tr>
                        <th class="golpesTotales"> Golpes totales</th>
                        <th><img src="./img/flag21x21.png"></th>
                        <th> Por la izquierda</th>
                        <th> Por la derecha</th>
                        <th> Cortas</th>
                        <th> Largas</th>
                        <th> &le; 2 unid.</th>
                        <th> > 2 unid.</th>
                    </tr>
                    <tr>
                        <td class="golpesTotales"> {{statistics.total}}</td>
                        <td> {{statistics.goals}}</td>
                        <td> {{ data[numTest].statistics.leftBalls }} ({{statistics.leftBallsPercent}}%)</td>
                        <td> {{ data[numTest].statistics.rightBalls }} ({{statistics.rightBallsPercent}}%)</td>
                        <td> {{ data[numTest].statistics.shortBalls }} ({{statistics.shortBallsPercent}}%)</td>
                        <td> {{ data[numTest].statistics.longBalls }} ({{statistics.longBallsPercent}}%)</td>
                        <td>  {{ data[numTest].statistics.less2 }} ({{statistics.less2Percent}}%)</td>
                        <td> {{ data[numTest].statistics.more2 }} ({{statistics.more2Percent}}%)</td>
                    </tr>
                </table>
            </div>

            <!-- Datos del test -->
            <div class="row-fluid zona" ng-class="{ocultar:pantallaCompleta}">
                <div style="text-align: center;">
                    <input type="text" ng-model="data[numTest].name" ng-disabled="!noTerminado(data[numTest]._id)"
                           class="input-medium campo" placeholder="Nombre"/>
                    <input type="text" ng-model="data[numTest].date" ng-disabled="!noTerminado(data[numTest]._id)"
                           class="campo" placeholder="Fecha"/>
                    <select class="campo" ng-model="data[numTest].palo" ng-options ="p.nombre for p in palos" ng-disabled="!noTerminado(data[numTest]._id)">
                        <!--<option value='0' selected="selected"> Palo ...</option>-->
                        <option value=""> Elige palo ... </option>
                    </select>
                    <select class="campo" ng-model="data[numTest].entrenamiento"
                            ng-disabled="!noTerminado(data[numTest]._id)">
                        <!--<option value='0' selected="selected"> Tipo de entrenamiento ...</option>-->
                        <option value='L' selected="selected"> Largo</option>
                        <option value='M'> Medio</option>
                        <option value='C'> Corto</option>
                    </select>
                </div>
            </div>


            <div class="zona row-fluid">
                    <div style="text-align: center;">
                        <a ng-click="terminarTestActual(numTest)">
                            <button class="btn btn-primary btn-large" ng-disabled="!noTerminado(data[numTest]._id)">
                                <i class="icon-ok icon-white"></i>
                                Terminar el Test
                            </button>
                        </a>

                        <a ng-click="guardarCambios(numTest)">
                            <button class="btn btn-primary btn-large" ng-disabled="!hayCambios(numTest)">
                                <i class="icon-briefcase icon-white"></i>
                                Guardar Cambios
                            </button>
                        </a>

                        <a ng-click="borrar(numTest)">
                            <button class="btn btn-primary btn-large">
                                <i class="icon-trash icon-white"></i>
                                Eliminar Test
                            </button>
                        </a>
                        <a ng-click="cambiarPantallaCompleta()">
                            <button class="btn btn-primary btn-large">
                                <i class="icon-fullscreen icon-white"></i>
                            </button>
                        </a>
                    </div>

                    <!-- Board Container -->
                    <div class="tablero" ng-class="{opaco:!noTerminado(data[numTest]._id)}">
                        <table id="board">
                            <tr ng-repeat="(fila, row) in data[numTest].data">
                                <td ng-repeat="(columna,elem) in row"
                                    ng-click="boardClick(fila,columna)"

                                    ng-class="{center:isCenter(data[numTest].data,fila,columna),
                                               zero:isZero(fila,columna),
                                                borderLeftTop: checkBorder(data[numTest].data,fila,columna)==1,
                                                borderTop: checkBorder(data[numTest].data,fila,columna)==2,
                                                borderTopRight: checkBorder(data[numTest].data,fila,columna)==3,
                                                borderRight: checkBorder(data[numTest].data,fila,columna)==4,
                                                borderRightBottom: checkBorder(data[numTest].data,fila,columna)==5,
                                                borderBottom: checkBorder(data[numTest].data,fila,columna)==6,
                                                borderBottomLeft: checkBorder(data[numTest].data,fila,columna)==7,
                                                borderLeft: checkBorder(data[numTest].data,fila,columna)==8}">
                                    {{elem}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="text-align:center ;"><img style="width:30px;" src='./img/golfista.PNG'></div>
            </div>
        </div>

    </div>
</div>


