
    <!-- Left container (Side Bar) -->
    <div id="sidebar" ng-hide="isError" ng-class="{ocultar:pantallaCompleta}">

        <!-- Test Table -->
        <input id="input_buscar" style="width: 86%;" ng-model="query" class="search-query" placeholder="Buscar ...">
        <ul id="listaTests">
            <li ng-repeat="(index, test) in data | filter:query" class="test">
                <a ng-href="#/test/{{test._id}}"
                   ng-class="{testNoTerminado:noTerminado(test._id)}">
                    {{test.name}} ({{ test.palo }} {{ test.metros }}<span ng-hide="test.metros==null">m</span> {{dateFormat(test.fecha,true)}})
                </a>
                <i ng-show="test._id == getIdActivo()" class="icon-eye-open icon-black"></i>
            </li>
        </ul>

        <a ng-click="nuevoTest()">
            <button class="btn btn-primary btn-large">
                <i class="icon-plus icon-white"></i>
                Crear Nuevo Test
            </button>
        </a>
    </div>
