<div class="row-fluid">
    <div ng-include src="'partials/tests.html'" class="span3"></div>
    <!-- Global Statistics Container -->
    <div class="span9">
        <div class="zona">
            <table id="tablaEstadisticas">
                <tr>
                    <th class="golpesTotales"> Tipo </th>
                    <th class="golpesTotales"> Golpes totales</th>
                    <th><img src="./img/flag21x21.png"></th>
                    <th> Por la izquierda</th>
                    <th> Por la derecha</th>
                    <th> Cortas</th>
                    <th> Largas</th>
                    <th> &le; 2 unid.</th>
                    <th> > 2 unid.</th>
                </tr>
                <tr>
                    <td class="golpesTotales"> {{statistics.totales.total}}</td>
                    <td class="golpesTotales"> {{statistics.totales.goals}}</td>
                    <td class="golpesTotales"> {{ statistics.totales.leftBalls }}  <br> ({{statistics.totales.leftBallsPercent}}%)</td>
                    <td class="golpesTotales"> {{ statistics.totales.rightBalls }}<br>({{statistics.totales.rightBallsPercent}}%)</td>
                    <td class="golpesTotales"> {{ statistics.totales.shortBalls }} <br>({{statistics.totales.shortBallsPercent}}%)</td>
                    <td class="golpesTotales">  {{ statistics.totales.longBalls }}<br> ({{statistics.totales.longBallsPercent}}%)</td>
                    <td class="golpesTotales">  {{ statistics.totales.less2 }}<br>({{statistics.totales.less2Percent}}%)</td>
                    <td class="golpesTotales">  {{ statistics.totales.more2 }}<br>({{statistics.totales.more2Percent}}%)</td>
                </tr>
                <tr ng-repeat="parcial in statistics.parciales">
                    <td class="golpesTotales"> {{statistics.totales.total}}</td>
                    <td> {{parcial.goals}}</td>
                    <td> {{ parcial.leftBalls }}  <br> ({{parcial.leftBallsPercent}}%)</td>
                    <td> {{ parcial.rightBalls }}<br>({{parcial.rightBallsPercent}}%)</td>
                    <td> {{ parcial.shortBalls }} <br>({{parcial.shortBallsPercent}}%)</td>
                    <td>  {{ parcial.longBalls }}<br> ({{parcial.longBallsPercent}}%)</td>
                    <td>  {{ parcial.less2 }}<br>({{parcial.less2Percent}}%)</td>
                    <td>  {{ parcial.more2 }}<br>({{parcial.more2Percent}}%)</td>
                </tr>
            </table>
        </div>
    </div>
</div>