<div class="row-fluid">
    <div ng-include src="'partials/tests.html'" class="span3"></div>
    <!-- Global Statistics Container -->
    <div class="span9">
        <div class="zona">
            <table class="tablaEstadisticas">
                <tr>
                    <th class="golpesTotales"> Golpes totales</th>
                    <th><img src="./img/flag21x21.png"></th>
                    <th> Por la izquierda</th>
                    <th> Por la derecha</th>
                    <th> Cortas</th>
                    <th> Largas</th>
                    <th> &le; 2 unid.</th>
                    <th> > 2 unid.</th>
                </tr>
                <tr>
                    <td class="golpesTotales"> {{statistics.totales.total}}</td>
                    <td class="golpesTotales"> {{statistics.totales.goals}}</td>
                    <td class="golpesTotales"> {{ statistics.totales.leftBalls }}   ({{statistics.totales.leftBallsPercent}}%)</td>
                    <td class="golpesTotales"> {{ statistics.totales.rightBalls }} ({{statistics.totales.rightBallsPercent}}%)</td>
                    <td class="golpesTotales"> {{ statistics.totales.shortBalls }} ({{statistics.totales.shortBallsPercent}}%)</td>
                    <td class="golpesTotales">  {{ statistics.totales.longBalls }} ({{statistics.totales.longBallsPercent}}%)</td>
                    <td class="golpesTotales">  {{ statistics.totales.less2 }} ({{statistics.totales.less2Percent}}%)</td>
                    <td class="golpesTotales">  {{ statistics.totales.more2 }} ({{statistics.totales.more2Percent}}%)</td>
                </tr>
            </table>
            <table class="tablaEstadisticas parciales">
                <tr>
                    <th></th>
                    <th class="golpesTotales"> Golpes totales</th>
                    <th><img src="./img/flag21x21.png"></th>
                    <th> Por la izquierda</th>
                    <th> Por la derecha</th>
                    <th> Cortas</th>
                    <th> Largas</th>
                    <th> &le; 2 unid.</th>
                    <th> > 2 unid.</th>
                </tr>
                <tr ng-repeat="(key,parcial) in statistics.parciales">
                    <td class="tipoPalo"> {{parcial.palo}}</td>
                    <td class="golpesTotales"> {{parcial.total}}</td>
                    <td> {{parcial.goals}}</td>
                    <td> {{ parcial.leftBalls }}   ({{parcial.leftBallsPercent}}%)</td>
                    <td> {{ parcial.rightBalls }} ({{parcial.rightBallsPercent}}%)</td>
                    <td> {{ parcial.shortBalls }} ({{parcial.shortBallsPercent}}%)</td>
                    <td>  {{ parcial.longBalls }} ({{parcial.longBallsPercent}}%)</td>
                    <td>  {{ parcial.less2 }} ({{parcial.less2Percent}}%)</td>
                    <td>  {{ parcial.more2 }} ({{parcial.more2Percent}}%)</td>
                </tr>
            </table>
        </div>
    </div>
</div>